ul {
  list-style-type: none;
}

.octocat {
  float: left;
  margin: 10px;
  width: 30%;
  border-bottom: 1px solid lightgrey;
}

.octocat img {
  width: 100%;
  border: 1px solid lightgrey;
}

.authors img {
  width: 25px;
  border: none;
}

.image-footer {
  max-width: 100%;
  font-family: helvetica;
  font-weight: bold;
  font-size: 14px;
}

.image-caption span, .image-caption a {
  display: inline-block;
  margin-top: 10px;
}

.authors {
  float: right;
}

.image-number:before{
  content: "#"
}

.image-number{
  color: lightgrey;
}

.image-caption {
  float: right;
  color: grey
}

.image-caption a{
  text-decoration: none;
  color: black;
}