ul {
  list-style-type: none;
}

.octocat {
  float: left;
  margin: 3px;
  width: 300px;
}

.octocat img {
  max-width: 100%;
  border: 2px solid lightgrey;
}

.authors img {
  width: 25px;
  border: none;
}

.image-footer {
  max-width: 100%;
  border-bottom: 2px solid lightgrey;
  padding: 5px 0 10px 0;
}

.authors {
  float: right;
}

.image-number:before{
  content: "#"
}

.image-number{
  color: lightgrey;
}

.image-caption {
  float: right;
}